#bigred {
    color: firebrick;
}
h1 {
    padding: 10px;
    color: black;
}

body {
    margin: 0;
    background-color:#DBC069;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

a:hover {
    color: rgba(219, 192, 105, 0.637);
}

img {
    width: 100%;
    max-width: 500px;
}

#navigation {
    width: 100vw;
    position: fixed;
    padding: 10px;
    background-color:rgba(21, 35, 82, 0.623);
}

#navigation > ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

#navigation > ul > li {
    margin-right: 150px;
    display: inline;
}
#navigation .container {
    margin: 0 auto;
}

#navigation ul li {
    position: relative;
}

#navigation a + ul {
    background-color: #DBC069;
    position: absolute;
    top: 18px;
    left: -15px;
    display: none;
}

#navigation a:hover + ul,
#navigation a + ul:hover {
    display: block;
}

#header {
    
    padding: 50px;
    background-color: #DBC069;
}

#content {
    padding: 10px;
    background-color: rgba(21, 35, 82, 0.356);
}

#content li {
    background-color: rgb(255, 255, 255);
}

#footer {
    padding: 10px;
    background-color:rgba(21, 35, 82, 0.623);
}
#footer > ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

#footer > ul > li {
    margin-right: 10px;
    display: inline;
}

#loremList:first-child {
    background-color: #DBC069;
}


.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    color: white;
}

.Backgroundfordropdown {
    background-color: rgb(255, 255, 255);
}

.contact {
    background-color: rgba(0, 29, 122, 0.61);
}